{% extends 'base.html.twig' %}

{% block title %}List of Currencies
{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<h2>List of Currencies</h2>
	{% if exchanges is not empty %}
		<table class="table table-striped">
			<thead>
				<tr>
					<td>No.</td>
					<td>Currency Code</td>
					<td>Currency Name</td>
				</tr>
			</thead>
			<tbody>
				{% for exchange in exchanges %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ exchange.getCurrencyCode() }}</td>
						<td>{{ exchange.getCurrencyName() }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
	<a class="btn btn-primary" href="{{ path('app_currency_add') }}" role="button">Add More</a>
{% endblock %}
