{% extends 'base.html.twig' %}

{% block title %}Exchanges History
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	<h2>Exchanges History</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>No.</td>
				<td>Currency From</td>
				<td>Currency To</td>
				<td>Date</td>
				<td>Exchange Rate</td>
			</tr>
		</thead>
		<tbody>
			{% for exchange in exchanges %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ exchange.getCurrencyFrom() }}</td>
					<td>{{ exchange.getCurrencyTo() }}</td>
					<td>{{ exchange.getDate() }}</td>
					<td>{{ exchange.getRate() }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
<a class="btn btn-primary" href="{{ path('app_exchange_check') }}" role="button">Check More</a>
{% endblock %}
